.done {
    text-decoration: line-through
}

.activity {
    
    box-sizing: border-box;
    width: 100%;
    margin: 5px;
    padding: 15px;
    .activity-container {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .activity-content {
            box-sizing: border-box;
            align-items: center;
            display: flex;
            justify-content: space-between;
            span {
                margin: 5px;
            }
        }
    }
}
.edit-activity{
    align-items: center;
    display: flex;
    justify-content: center;
    .icon{
        cursor: pointer;
        margin: 3px;
    }
}