.day-menu{
    align-items: center;
    background-color: #f6c803;
    box-sizing: border-box;
    box-shadow: -11px 9px 0px 1px #aba8a8;
    display: flex;
    font-family: 'Fredoka One' ;
    justify-content: space-around;
    padding: 30px;
    padding-top:15px;
    padding-bottom: 15px;
    width:100%;

    a{  
        color: white;
        font-family: 'Graduate';
        text-decoration: none;
        margin: 5px;
        &:visited {
            color: white;
        }

    }
}