.done {
    text-decoration: line-through
}


.activity-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px;
    padding: 5px;

    .activity-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        span {
            margin: 5px;
        }
    }
}
.edit-activity{
    align-items: center;
    display: flex;
    justify-content: center;
    .icon{
        cursor: pointer;
        margin: 3px;
    }
}